@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900; /* Supports variable weights */
}


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}