/* home.css */
.full-screen-background {
    width: 100vw;
    height: 100vh;
    background-size: cover;         /* Make the image cover the whole screen */
    background-position: center;    /* Center the image */
    background-repeat: no-repeat;   /* Prevent tiling */
}
.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Semi-transparent black */
    z-index: -1;
}
